<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="polyhydra-internal" value="https://nuget.polyhydragames.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.TestPlatform.TestHost" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="xunit" />
      <package pattern="xunit.abstractions" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.assert" />
      <package pattern="xunit.core" />
      <package pattern="xunit.extensibility.core" />
      <package pattern="xunit.extensibility.execution" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
    <packageSource key="polyhydra-internal">
      <package pattern="Observation.Core" />
    </packageSource>
  </packageSourceMapping>
</configuration>
