<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="polyhydra-internal" value="https://nuget.polyhydragames.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="dotnet-stryker" />
      <package pattern="BenchmarkDotNet*" />
      <package pattern="CommandLineParser" />
      <package pattern="Gee.External.Capstone" />
      <package pattern="Iced" />
      <package pattern="Microsoft.Diagnostics.*" />
      <package pattern="Microsoft.DotNet.PlatformAbstractions" />
      <package pattern="Perfolizer" />
      <package pattern="System.Management" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Pragmastat" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Reflection.TypeExtensions" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.TestPlatform.TestHost" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="xunit" />
      <package pattern="xunit.abstractions" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.assert" />
      <package pattern="xunit.core" />
      <package pattern="xunit.extensibility.core" />
      <package pattern="xunit.extensibility.execution" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
    <packageSource key="polyhydra-internal">
      <package pattern="Observation.Core" />
    </packageSource>
  </packageSourceMapping>
</configuration>
